.playerPrimary{
  width:5px;
  height:50px;
  background:rgb(0, 132, 255);
  position:fixed;
}

.enemyShip{
  width:150px;
  height:auto;
  transform: rotate(180deg);
  z-index:1;
}

.enemyBullet{
  width:5px;
  height:50px;
  background:red;
  position:fixed;
}